<div class="modal-header">
  <h4 class="modal-title pull-left">Add Employee</h4>
  <button type="button" class="btn-close close pull-right " (click)="closeAddModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><label>Name</label>
  <input type="text" class="form-control" [(ngModel)]="newName"></p>
  <p><label>Email</label>
  <input type="email" class="form-control"  [(ngModel)]="newEmail"></p>
  <p>
    <label>Address</label>
    <br>
    <textarea name="" id="" cols="60" rows="3"  [(ngModel)]="newAddress"></textarea>
  </p>
  <p>
    <label>Phone</label>
    <input type="text" class="form-control"  [(ngModel)]="newPhone">
  </p>
</div>
<div class="modal-footer pull-right">
  <span (click)="closeAddModal()" class="cursor">Cancel</span>
  <button class="btn btn-success" (click)="addNewEmployee()">Add</button>
</div>
