<div class="modal-header">
  <h4 class="modal-title pull-left text-navy">Delete Employee</h4>
  <button type="button" class="btn-close close pull-right " (click)="closeDeleteModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-navy">Are you sure you want to delete these Records</p>
  <p class="small text-warning">This action cannot be undone.</p>
</div>
<div class="modal-footer pull-right">
  <span (click)="closeDeleteModal()" class="cursor">Cancel</span>
  <button class="btn btn-danger">Delete</button>
</div>